.split {
    background-color: white;
    color: black;
}

.split-active {
    background-color: #444444;
    color: white;
}

.split-container{
    background-color: greenyellow;
    padding-top: 5px;
    padding-bottom: 6px;
}

.split-container-active{
    background-color: greenyellow;
    padding-top: 5px;
    padding-bottom: 6px;
}